@import "../../scss/main.scss";

.home-page {
    display: flex;

    &-left_side {
        display: flex;
        background-image: url("../../assets/assets/Home-Hero-Image.jpg");
        background-size: contain;
        width: 50%;
    }

    &-right_side {
        
    }
}